@import "tailwindcss";

@theme {
    --color-primary: #1A5B5E;
    --color-secondary: #49A6AB;
    --color-bege: #D1D1D1;
    --color-cleam: #B4CEDE;
    --font-display: "Unbounded", sans-serif;
    --font-tech: "Exo", sans-serif;
}

/* Configurações Globais permanecem aqui */
:root {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
    font-weight: 700;
}